body {
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  padding: 50px;
  background-color: #f9f7fe;
  color: #113f67;
}

form {
  padding-top: 30px;
  margin: 0px;
}

h1 {
  font-size: 25px;
  padding-bottom: 0;
}

h5 {
  padding: 0;
  font-size: 10px;
  position: relative;
  margin-top: 5px;
}

p {
  margin-bottom: 0;
  font-size: 15px;
}

a {
  color: #38598b;
  text-decoration: none;
  cursor: default;
}

button {
  font-size: 8px;
  display: block;
  padding: 20px 0 0 0;
}

h6 {
  font-size: 12px;
}

.container {
  background: linear-gradient(
    109.6deg,
    rgb(137, 191, 221) 11.2%,
    rgb(150, 144, 204) 100.2%
  );
  display: block;
  margin: 10px auto;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 2px 4px 8px #6c5b7c;
  max-width: 400px;
}

.form-control {
  border-radius: 2rem;
}

.btn {
  --bs-btn-border-radius: 2rem;
  font-size: 10px;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #bbc8dc;
  --bs-btn-border-color: #a2a8d3;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #a2a8d3;
  --bs-btn-hover-border-color: #a2a8d3;
}

.mb-3 {
  margin: 0 0 0 20px;
}

.search-result {
  background: #f9f7fe;
  display: block;
  margin: 10px 10px;
  padding: 8px;
  border-radius: 20px;
  max-width: 340px;
  font-size: 10px;
}

.btn-outline-info {
  padding: 1px 2px 1px 2px;
  font-size: 10px;
  color: #38598b;
  border: none;
  position: relative;
  left: 105px;
  top: -7px;
}

.btn-outline-info:hover {
  color: #38598b;
  background-color: #dfe9f3;
  border-color: none;
}

.units {
  position: relative;
  top: -20px;
  font-size: 10px;
}

.search-result-temperature {
  font-size: 30px;
  color: #38598b;
  text-decoration: none;
}
